@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	color: hsl(192, 100%, 9%);
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin: 0;
}

h1,
h2,
button {
	font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

p {
	/* opacity: 0.6; */
}

img {
	max-width: 100%;
    max-height: 100%;
}

.btn {
	border-radius: 50px;
	background-color: #fff;
	border: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	padding: 15px 60px;
}


.btn-primary {
	background-color: hsl(322, 100%, 66%); 
	color: #fff;
    margin-top: 20px;
    padding: 24px 100px;
    border-radius: 40px;
    font-size: 16px;
}
.btn-primary:active {
    /* background-color: hsl(322, 100%, 66%); */
    opacity: 0.4;
    /* color: rgba(0, 37, 46, 0.6); */
  }

.container {
	padding: 0 20px;
	margin: 0 auto;
	max-width: 100%;
	width: 1000px;
}

.center {
	text-align: center;
}

.flex {
	display: flex;
    justify-content: space-between;
	align-items: center;
}

.flex > div,
.flex > ul {
	flex: 1;
}

.align-start {
	align-items: flex-start;
}

header {
	background-image: url('./images/bg-hero-desktop.svg') no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: hsl(193, 100%, 96%);
	padding: 40px 60px;
}

nav {
    display: flex;
    justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
    /* margin-right: ; */
}
nav img {
    height: 35px;
}

.header-img {
	margin-left: 20%;
	width: 100%;
    height: 450px;
}
.info {
    width: 45%;
}
.info {
    width: 45%;
}
.illustration {
    width: 55%;
}
.info h1 {
    font-size: 42px;
    padding-right: 40px;
    margin: 25px 0px;
}
.info p {
    padding-right: 40px;
    margin: 25px 0px;
    color: hsl(208, 11%, 55%);
}
.info button {
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    padding: 15px 70px;
}
.box {
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	margin: 40px 0;
	padding: 60px;
}

.small-box {
	display: inline-block;
	position: relative;
	margin-bottom: -50%;
	z-index: 1;
}

.box img {
	width: 80%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
	background-color: hsl(192, 100%, 9%);
	color: #fff;
	padding: 180px 0 60px;
    position: relative;
}
.footer-logo {
    color: white;
    width: 250px;
    margin-bottom: 2rem;  
}

footer ul {
	list-style-type: none;
}

footer ul li {
	margin-bottom: 15px;  
    display: flex;
    flex-direction: column; 
    /*  width: 20%;
    
    
    */
}
.links, .links1 {
    margin-bottom: 20px;
    padding-right: 130px;
    opacity: 0.9;
    font-size: 12px;
}


footer .social-media {
	/* display: flex; */
    display: inline-flex;
	align-items: center;
	justify-content: center;
    border-radius: 50%;
    color: #fff;
    height: 30px;
    width: 30px;
    text-decoration: none;
    /* display: flex; */
    flex-direction: row;
    
}

footer .circle {
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	height: 30px;
	width: 30px;
	text-decoration: none;
}

.add {
    display: flex;
    align-items: flex-start;
    margin-right: 100px;
    font-size: 12px;
    padding: -1px;
    width: 120%;
}
.add img {
    margin-top: 4px;
    margin-right: 20px;
}

.copy {
	text-align: right;
    font-size: 12px;
    text-align: right;
    padding-right: 4rem;
    right: 30px;
    bottom: 30px;
    position: absolute;
}
i {
    transition: all 0.3s;
}
  
i:hover,
i:active {
    color: hsl(322, 100%, 66%);
}

@media screen and (max-width: 768px) {
	body {
		text-align: center;
	}

	nav.flex {
		flex-direction: row;
	}

	.header-img {
		margin-top: 40px;
		margin-left: 0;
		width: 100%;
	}

	.flex {
		flex-direction: column;
	}

	.box-reverse-mobile {
		flex-direction: column-reverse;
	}

	footer ul {
		padding: 0;
		width: 100%;
	}

	footer p {
		text-align: center;
	}
}

